/* Style the navigation bar */
.navbar {
  overflow: hidden;
  background-color: #333;
}

/* Navbar links */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The hamburger icon */
.navbar a.icon {
  display: none;
}

/* Display the links when the navbar is in responsive mode */
@media screen and (max-width: 600px) {
  .navbar a:not(:first-child) {display: none;}
  .navbar a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .navbar.responsive {position: relative;}
  .navbar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
.kotakluar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.kotak1 {
  width: 200px;
  height: 580px;
  background-color: #99FFFF;
  color: black;
  padding: 70px;
  margin-top: 9px;
  text-align: center;
  border-radius: 20px;
}
.kotak1v {
  width: 200px;
  height: 500px;
  backdrop-filter: #99FFFF;
  color: black;
  page-break-inside: 70px;
  margin-top: 9px;
  border-radius: 20px;
}

.kotak1 img {
  width: 200px;
  height: 200px;
}.kotakluar .kotak1 .kotak2 p{
  padding: 0px;
  border-radius: 50px;
}
.order{
  padding: 10px 20px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  color: red;
  background-color: green;
  cursor: pointer;
  transition: background-color 0,3s ease;
  text-decoration: none;
}
.order:hover{
  background-color: red;
}
.order a {
  text-decoration: none;
  color: white;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  display: flex;
  text-align: center;
  flex-direction: column;
  position: relative;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 7px;
  right: 10px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.closes {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 7px;
  right: 10px;
}

.closes:hover,
.closes:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.kotak1 {
  width: 200px;
  height: 550px;
  background-color: #99FFFF;
  color: black;
  padding: 70px;
  margin-top: 9px;
  text-align: center;
  border-radius: 20px;
}
}